#bluebox {
    width: 30px;
    height: 30px;
    background-color: blue;
    margin-left:190px;
        }
  
  #redbox {
    width: 30px;
    height: 30px;
    background-color: red;
    margin-left:-60px;
     }
  
  #greenbox {
    width: 30px;
    height: 30px;
    background-color: green;
    margin-left:445px;
    }
    #header {
      border: solid black;
      padding-left: 60px;
      padding-top: 7px;
      width: 500px;
    }
    
  